<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.modular.system.dao.TUserMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.modular.system.model.TUser">
        <id column="id" property="id" />
        <result column="login_name" property="loginName" />
        <result column="login_password" property="loginPassword" />
        <result column="nick_name" property="nickName" />
        <result column="real_name" property="realName" />
        <result column="head_icon" property="headIcon" />
        <result column="department_id" property="departmentId" />
        <result column="region_id" property="regionId" />
        <result column="create_time" property="createTime" />
        <result column="update_time" property="updateTime" />
        <result column="create_user" property="createUser" />
        <result column="update_user" property="updateUser" />
        <result column="status" property="status" />
        <result column="email" property="email" />
        <result column="id_no" property="idNo" />
        <result column="job_id" property="jobId" />
        <result column="phone" property="phone" />
        <result column="license_type" property="licenseType" />
        <result column="sex" property="sex" />
        <result column="user_type" property="userType" />
        <result column="salt" property="salt" />
        <result column="encry_qty" property="encryQty" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, login_name AS loginName, login_password AS loginPassword, nick_name AS nickName, real_name AS realName, head_icon AS headIcon, department_id AS departmentId, region_id AS regionId, create_time AS createTime, update_time AS updateTime, create_user AS createUser, update_user AS updateUser, status, email, id_no AS idNo, job_id AS jobId, phone, license_type AS licenseType, sex, user_type AS userType, salt, encry_qty AS encryQty
    </sql>

</mapper>
